*{
    margin: 0px;
    padding: 0px;
    font-size: 1em
}
:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
body{
    background-color: white;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
}
header > h1{
font-family: Passion system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-variant: small-caps;
font-size: bolder;
padding-bottom: 2px;
font-size: 8vw;


}
header > p{
    padding-bottom: 20px;
    font-family: Passion system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    font-family: var(--fonte3);
    font-size: bolder;
    color: white;
    text-decoration: none;
    
}
section{
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 20vh;
    font-size: 3.5vw;
    line-height: 2em;
    font-family: var(--fonte3);
}
section.normal{
    display: block;


}
section.imagem{
    background-attachment: fixed;
    background-size: 100%;
    color: white;
}
section.imagem > p{
    width: 500px;
    background-color: rgba(0, 0, 0, 0.377);
}
section#img01{
    background-image: url(../imagens/background001.jpg);
 
}
section#img02{
    background-image: url(../imagens/background002.jpg);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte1);
    padding: 5px;
}